.achievements-list {
  display: flex;
  flex-direction: column;

  list-style: none;
  padding: 0;
  padding-top: 46px;
  margin: 0;
}

.achievements-list__item {
  display: flex;
  flex-direction: row;

  margin-bottom: 52px;
}

.achievements-list__item:last-child {
  margin: 0;
}

.achievements-list__label {
  position: relative;
  padding-left: 89px;
}

.achievements-list__label::before {
  content: "";
  position: absolute;

  top: -6px;
  left: 20px;

  width: 35px;
  height: 35px;

  border: 2px solid $gray;

  background-color: $white;
}

.achievements-list__item:hover .achievements-list__label::before {
  border-color: $dark-blue;
}

.achievements-list__item:active .achievements-list__label::before {
  border-color: $lipstick;
}

.achievements-list__checkbox:checked+.achievements-list__label::after {
  position: absolute;

  content: "";

  top: 5px;
  left: 29px;

  width: 22px;
  height: 16px;

  background-image: url(../img/icon-yes.svg);
}

@media (min-width: $tablet-width) {
  .achievements-list {
    padding-top: 49px;
  }

  .achievements-list__label {
    padding-left: 117px;
  }

  .achievements-list__label::before {
    left: 57px;
    top: -5px;
  }

  .achievements-list__checkbox:checked+.achievements-list__label::after {
    top: 7px;
    left: 67px;
  }
}

@media (min-width: $desktop-width) {
  .achievements-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .achievements-list__item:last-child {
    margin-left: 5px;
  }

  .achievements-list__item--first {
    order: 1;
  }

  .achievements-list__item--second {
    order: 4;
  }

  .achievements-list__item--third {
    order: 2;
  }

  .achievements-list__item--fourth {
    order: 5;
    margin-left: 38px;
  }

  .achievements-list__item--fifth {
    order: 3;
  }

  .achievements-list__item--sixth {
    order: 6;
  }
}
