.button {
  display: block;

  box-sizing: border-box;

  width: 281px;
  min-height: 55px;

  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: $white;
  text-align: center;

  background-color: transparent;

  padding-top: 14px;
  padding-bottom: 16px;

  border: 3px solid $white;
  border-radius: 35px;

  cursor: pointer;
}

.button__download {
  &:hover {
    background-color: $white;
    color: $lipstick;
  }

  &:active {
    background-color: $white;
    color: $lipstick;
    opacity: 0.3;
  }
}

.button__post {
  width: 280px;

  border: 3px solid $lipstick;

  color: $lipstick;

  &:hover {
    background-color: $lipstick;
    color: $white;
  }

  &:active {
    background-color: $lipstick;
    color: $black-30;
  }
}

.button__cancel {
  width: 280px;

  border: 3px solid $dark-blue;

  color: $dark-blue;

  opacity: 0.1;


  &:hover {
    opacity: 0.3;
  }

  &:active {
    background-color: $dark-blue;

    border: 0;

    color: $black-30;

    opacity: 0.3;
  }
}

.button__send-form {
  width: 285px;
  height: 69px;

  background-color: $green;

  text-transform: uppercase;

  border-radius: 5px;
  margin: 0 auto;

  &:hover {
    background-color: $dark-green;
  }

  &:active {
    background-color: $dark-green;

    color: $white-30;
  }
}

@media (min-width: $tablet-width) {
  .button {
    width: 300px;
    padding-top: 16px;
  }

  .button__post {
    width: 260px;
  }

  .button__cancel {
    width: 260px;
  }

  .button__send-form {
    width: 305px;
    height: 70px;
  }
}

@media (min-width: $desktop-width) {
  .button__download {
    font-size: 21px;
    line-height: 18px;
  }

  .button__send-form {
    width: 301px;
    height: 69px;
    border-color: transparent;
  }
}
