.call {
  background-color: $white;
}

.call__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;

  width: 202px;
  padding-top: 32px;
  padding-bottom: 36px;
  padding-left: 58px;
  padding-right: 60px;
  margin: 0 auto;
}

.call__wrapper::after {
  content: url(../img/bg-triangle-gray.svg);
  position: absolute;
  bottom: -51px;
  left: 50%;

  width: 320px;
  height: 20px;

  transform: rotate(179deg);
}

.call__header {
  width: 204px;

  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;

  padding-bottom: 28px;
  margin: 0;
}

.call__text {
  line-height: 30px;
  text-align: center;
}

.call__text--long {
  width: 274px;
}

.call__text--short {
  width: 253px;
}

@media (min-width: $tablet-width) {
  .call__wrapper {
    width: 542px;

    padding-top: 75px;
    padding-bottom: 58px;
  }

  .call__header {
    font-size: 40px;
    line-height: 48px;

    margin: 0;
    padding-bottom: 0;
  }

  .call__header--long {
    width: 587px;
  }

  .call__header--short {
    width: 335px;
  }

  .call__text {
    font-size: 18px;
    line-height: 30px;
  }

  .call__text--short {
    width: 438px;
  }

  .call__text--long {
    width: 490px
  }

  .call__wrapper::after {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .call__wrapper {
    width: 842px;

    padding-top: 75px;
    padding-bottom: 71px;
  }

  .call__header {
    font-size: 50px;
    line-height: 60px;
  }

  .call__header--long {
    width: 783px;
  }

  .call__header--short {
    width: 461px;
  }

  .call__text--short {
    width: 572px;
  }
}
