.call {
  background-color: $white;
}

.call__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: $mobile-width;
  padding-top: 37px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.call__header {
  width: 204px;

  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
}

.call__text {
  line-height: 30px;
  text-align: center;
}

.call__text--long {
  width: 274px;
}

.call__text--short {
  width: 253px;
}

@media (min-width: $tablet-width) {
  .call__wrapper {
    width: $tablet-width
  }

  .call__header {
    font-size: 40px;
    line-height: 40px;

    margin: 0;
  }

  .call__header--long {
    width: 587px;
  }

  .call__header--short {
    width: 335px;
  }

  .call__text {
    font-size: 18px;
    line-height: 30px;
  }

  .call__text--short {
    width: 438px;
  }

  .call__text--long {
    width: 490px
  }
}

@media (min-width: $desktop-width) {
  .call__wrapper {
    width: $desktop-width;

    padding-top: 78px;
    padding-bottom: 75px;
  }

  .call__header {
    font-size: 50px;
    line-height: 50px;
  }

  .call__header--long {
    width: 783px;
  }

  .call__header--short {
    width: 461px;
  }
}
