.communication {
  display: flex;
  flex-direction: column;

  width: 320px;
  min-height: 395px;

  margin: 0 auto;
  background-color: $white;
}

.communication__header {
  width: 228px;

  margin: 0 auto;

  font-size: 24px;
  line-height: 29px;
  text-align: center;

  padding-top: 43px;
}

.communication__list {
  margin: 0;
  padding: 0;
  padding-top: 37px;
}

.communication__list-item {
  padding-bottom: 27px;
}

.communication-list__header {
  margin: 0;
}

.communication__text {
  padding-top: 5px;
}

@media (min-width: $tablet-width) {
  .communication {
    width: $tablet-width;
  }

  .communication__header {
    width: 380px;

    font-size: 40px;
    font-weight: 300;
    line-height: 48px;

    padding-top: 47px;
  }

  .communication__list {
    padding-top: 48px;
  }

  .communication__text {
    padding-top: 7px;
  }

  .communication__list-item {
    padding-bottom: 51px;
  }
}

@media (min-width: $desktop-width) {
  .communication {
    width: $desktop-width;
    min-height: 386px;
  }

  .communication__header {
    width: 475px;

    font-size: 50px;
    font-weight: 300;
    line-height: 60px;

    padding-top: 66px;
  }

  .communication__list-item {
    padding: 0;
  }
}
