.communication-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.communication-list__header {
  font-size: 18px;
  line-height: 18px;
}

.communication-list__text {
  width: 240px;

  font-size: 24px;
  line-height: 24px;
  color: $lipstick;

  text-align: center;
}

.communication-list__link {
  color: $lipstick;
  text-decoration: none;

  &:hover {
    color: $dark-blue;
    border-bottom: 2px solid $dark-blue;
  }

  &:active {
    color: $dark-blue;
    border: none;

    opacity: 0.3;
  }
}
