.contacts-list {
  list-style: none;

  padding: 0;
  padding-top: 32px;
  padding-bottom: 25px;
  margin: 0;
}

.contacts-list__item {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .contacts-list {
    position: relative;
    padding-top: 37px;
    padding-bottom: 23px;
  }

  .contacts-list__item:last-child {
    margin-bottom: 0;
  }

  .contacts-list__item {
    margin-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-list {
    display: flex;
    justify-content: space-between;

    width: 822px;

    margin: 0 auto;
    padding-bottom: 0;
  }

  .contacts-list__item {
    margin-bottom: 10px;
  }
}
