.copyright__path {
  fill: $lipstick;
}

.copyright__link:hover .copyright__path {
  fill: $black;
}

.copyright__link:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    .copyright__logo {
      padding-top: 12px;
    }
  }
