.copyright__logo {
  fill: $lipstick;
}

.copyright__link .copyright__logo {
  &:hover {
    fill: $black;
  }
}

.copyright__link:active {
  opacity: 0.3;
}

@media (min-width: $desktop-width) {
  .copyright__logo {
    padding-top: 12px;
  }
}
