.download-app {
  background-color: #283645;
  width: 320px;
}

.download-app__text {
  width: 230px;

  font-family: 'OpenSansLight';
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
}

.download-app__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
