.editing-list {
  list-style: none;
  padding: 0;
  padding-top: 33px;
}

.editing-list__checkbox {
  display: none;
}

.editing-list__for-crop::before {
  content: '';

  display: block;

  width: 44px;
  height: 44px;

  background-image: url(../img/icon-editor-crop.svg);
  background-size: cover;
  opacity: 0.3;
}

.editing-list__crop:checked+.editing-list__for-crop::before {
  background-image: url(../img/icon-editor-crop-checked.svg);
  opacity: 1;
}

.editing-list__for-fill::before {
  content: '';

  display: block;

  width: 44px;
  height: 44px;

  background-image: url(../img/icon-editor-fill.svg);
  background-size: cover;
  opacity: 0.3;
}

.editing-list__fill:checked+.editing-list__for-fill::before {
  background-image: url(../img/icon-editor-fill-checked.svg);
  opacity: 1;
}

.editing-list__for-contrast::before {
  content: '';

  display: block;

  width: 32px;
  height: 32px;

  background-image: url(../img/icon-editor-contrast.svg);
  background-size: cover;
  opacity: 0.3;
  background-repeat: no-repeat;
}

.editing-list__contrast:checked+.editing-list__for-contrast::before {
  background-image: url(../img/icon-editor-contrast-checked.svg);
  background-repeat: no-repeat;
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .editing-list {
    padding: 0;
  }

  .editing-list__for-crop::before {
    width: 22px;
    height: 22px;
  }

  .editing-list__for-fill::before {
    width: 24px;
    height: 22px;
  }

  .editing-list__for-contrast::before {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .editing-list__for-crop::before {
    width: 44px;
    height: 44px;
  }

  .editing-list__for-fill::before {
    width: 48px;
    height: 44px;
  }

  .editing-list__for-contrast::before {
    width: 32px;
    height: 32px;
  }
}
