.form {
  width: 320px;
}

.form__header {
  color: $lipstick;
}

.form__achievements {
  background-color: $light-gray;
}

.form__app {
  background-color: $light-gray;
}

.form__textarea {
  width: 276px;
}

.form__text--pink {
  color: $lipstick;
}