.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__header {
  line-height: 30px;
  color: $lipstick;
  text-transform: uppercase;

  margin-left: 43px;
  margin-bottom: 4px;
}

.form__header--none {
  display: none;
}

.form__header--size {
  width: 218px;

  line-height: 18px;
  text-align: center;

  padding: 0;
  margin: 0 auto;
}

.form__text {
  font-size: 18px;
  line-height: 30px;
}

.form__input {
  width: 255px;
  height: 57px;

  border: 2px solid $gray;

  margin-left: 20px;
  margin-bottom: 18px;
  padding-left: 21px;
  outline-color: $lipstick;

  &:hover {
    border-color: $dark-blue;
  }

  &:active {
    border-color: $lipstick;
  }
}

.form__achievements {
  width: $mobile-width;
  min-height: 567px;

  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  border: none;
}

.form__achievements-wrapper {
  width: 100%;

  padding-top: 38px;

  background-color: $light-gray;
}

.form__communication {
  width: $mobile-width;

  border: none;
  padding: 0;
  margin: 0;
}

.form__app-list {
  padding: 0;
  padding-top: 41px;
  padding-bottom: 47px;
}

.form__app {
  width: $mobile-width;
  display: flex;
  flex-direction: column;

  border: none;
  background-color: $light-gray;

  padding: 0;
  margin: 0;
}

.form__app-wrapper {
  width: 100%;

  padding-top: 38px;

  background-color: $light-gray;
}

.form__textarea-field {
  width: $mobile-width;

  border: none;

  margin: 0 auto;
  padding: 0;
}

.form__textarea {
  width: 237px;
  min-height: 179px;

  font-family: "Open Sans";
  font-size: 18px;
  color: $dark-blue;

  border: 1px solid $gray;
  border-radius: 3px;

  margin-left: 21px;
  padding-top: 16px;
  padding-left: 19px;
  padding-right: 20px;
}

.form__area-header {
  padding-top: 39px;
  margin-bottom: 16px;
}

.form__text--pink {
  color: $lipstick;
}

.form__full-name {
  width: $mobile-width;
  min-height: 250px;

  padding: 0;
  padding-bottom: 24px;
  margin: 0 auto;

  border: 0;
}

.form__submit-wrapper {
  display: flex;
  flex-direction: column;

  padding-top: 45px;
}

.form__text-bottom {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;

  padding-top: 17px;
  padding-left: 49px;
  padding-right: 40px;
}

.form__text--hidden {
  display: none;
}


@media (min-width: $tablet-width) {
  .form__full-name {
    width: $tablet-width;
    order: 1;

    padding-bottom: 0;
  }

  .form__communication {
    display: block;
    width: 617px;
    border: 2px solid $light-gray;
    order: 3;
  }

  .form__app {
    display: block;

    width: 614px;
    border: 2px solid $light-gray;
    background-color: white;

    margin: 0 auto;
    margin-bottom: 58px;
  }

  .form__app-list {
    padding-bottom: 59px;
    padding-top: 49px;
  }

  .form__app-wrapper {
    width: $tablet-width;
    background-color: white;
    order: 2;

    padding-top: 6px;
  }

  .form__header--none {
    display: block;
  }

  .form__header--size {
    width: auto;
  }

  .form__header {
    margin-left: 19px;
    padding-bottom: 13px;
  }

  .form__header--head {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
  }

  .form__input {
    width: 499px;
  }

  .form__communication-input {
    position: relative;
    width: 414px;

    margin-left: 58px;
    margin-bottom: 10px;
    padding-right: 63px;

    z-index: 0;
  }

  .form__communication-header {
    position: relative;
    order: 2;

    padding-bottom: 0;
    margin-left: 78px;

    z-index: 1;
  }

  .form__communication-header--phone::before {
    position: absolute;

    content: "";

    width: 63px;
    height: 58.5px;

    top: -71px;
    right: 58px;

    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $gray;
  }

  .form__communication-header--email::before {
    position: absolute;

    content: "";

    width: 63px;
    height: 58.7px;

    top: -71px;
    right: 58px;

    background-image: url(../img/icon-mail.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $gray;
  }

  .form__achievements {
    display: block;

    width: 616px;
    min-height: 0;

    justify-content: center;

    border: 2px solid $light-gray;

    padding-bottom: 56px;
  }

  .form__achievements-wrapper {
    background-color: $white;
    order: 4;

    padding-top: 57px;
    margin-bottom: 55px;
  }

  .form__textarea-field {
    display: block;
    align-items: center;

    width: 616px;

    border: 2px solid $light-gray;
    order: 5;

    padding-top: 22px;
    padding-bottom: 52px;
  }

  .form__textarea {
    width: 457px;
    min-height: 171px;

    border: 2px solid $light-gray;

    margin: 0 auto;
    margin-left: 55px;
  }

  .form__submit-wrapper {
    flex-direction: row;
    justify-content: space-between;

    width: 625px;
    order: 6;

    padding-top: 64px;
    padding-bottom: 46px;
  }

  .form__text-bottom {
    padding-top: 5px;
    padding-right: 1px;
  }

  .form__text--hidden {
    display: none;
  }

  .form__button {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: $desktop-width;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    margin: 0 auto;
  }

  .form__header {
    margin-left: 0;
  }

  .form__header--head {
    padding-left: 35px;
    padding-right: 35px;
    margin: 0 auto;
  }

  .form__full-name {
    width: 430px;
    margin-left: 10px;
    margin-right: 69px;
  }

  .form__app-wrapper {
    width: 431px;
  }

  .form__communication {
    width: 936px;
    margin: 0 auto;
  }

  .form__communication-header--phone {
    margin-left: 19px;
  }

  .form__communication-header--email {
    margin-left: 19px;
  }

  .form__communication-header--phone::before {
    height: 62px;

    top: -71px;
    right: -1px;
  }

  .form__communication-header--email::before {
    height: 62px;

    top: -71px;
    right: 1px;
  }

  .form__achievements {
    width: 936px;
    min-height: 228px;

    padding-bottom: 7px;
  }

  .form__textarea-field {
    width: 936px;

    padding-bottom: 44px;
  }

  .form__textarea {
    width: 779px;
    min-height: 107px;

    padding-top: 13px;
  }

  .form__app {
    width: 431px;
  }

  .form__app-wrapper {
    padding-top: 17px;
  }

  .form__input {
    width: 314px;
  }

  .form__communication-input {
    width: 287px;

    margin-left: 0;
    margin-bottom: 8px;
  }

  .form__input--long {
    width: 354px;
  }

  .form__text--hidden {
    display: inline-block;
  }

  .form__submit-wrapper {
    width: 945px;

    margin: 0 auto;
    padding-top: 62px;
    padding-bottom: 0;
  }
}
