.full-name-list {
  display: flex;
  flex-direction: column;

  list-style: none;
  padding: 0;
  margin: 0;
}

.full-name-list__item {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .full-name-list {
    padding-top: 26px;
  }

  .full-name-list__item {
    flex-direction: row;
    align-items: center;
    
    margin-bottom: 34px;
  }
}


@media (min-width: $desktop-width) {
 .full-name-list {
   padding-top: 30px;
 }

 .full-name-list__item:last-child {
   margin-bottom: 0;
 }

 .full-name-list__item {
   margin-bottom: 35px;
 }
}
