.modal {
  width: 320px;
  background-color: $white;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__error {
  position: absolute;

  top: 1426px;
  left: 0;

  padding-top: 22px;
  padding-bottom: 48px;

  box-shadow: 0 7px 15px 0 $modal-shadow;
}

.modal__success {
  position: absolute;

  top: 1921px;
  left: 0;

  box-shadow: 0 7px 15px 0 $modal-shadow;
}

.modal__header {
  font-size: 18px;
  line-height: 24px;

  color: $black;
}

.modal__text {
  line-height: 24px;

  margin: 0;
  padding-top: 7px;
  margin-bottom: 34px;
}

.modal__text--long {
  width: 266px;
}

.modal__button-wrapper {
  width: 100%;

  padding-top: 42px;
  padding-bottom: 50px;

  background-color: $light-gray;
}

.modal__button-wrapper--desktop {
  background-color: $white;
  padding-top: 0;
  padding-bottom: 0;
}

.modal__button--success {
  margin: 0 auto;
  border-color: $light-gray;
}

@media (min-width: $tablet-width) {
  .modal {
    width: 460px;
  }

  .modal__error {
    padding-top: 8px;

    top: 1162px;
    left: 99px;

    z-index: 10;
  }

  .modal__success {
    top: 1639px;
    left: 99px;

    padding-top: 5px;

    z-index: 10;
  }

  .modal__success-break {
    display: none;
  }

  .modal__header {
    width: 260px;

    font-size: 30px;
    line-height: 40px;

    margin-bottom: 15px;
  }

  .modal__text {
    width: 298px;

    font-size: 18px;
    line-height: 24px;
  }

  .modal__text--long {
    width: 329px;
  }

  .modal__button-wrapper {
    padding-top: 45px;
  }

  .modal__button-wrapper--desktop {
    background-color: $white;
    padding-bottom: 0;
    padding-top: 1px;
  }
}

@media (min-width: $desktop-width) {
  .modal__error {
    width: 780px;

    padding-top: 14px;

    top: 815px;
    left: 87px;

    padding-bottom: 0;
  }

  .modal__success {
    width: 780px;

    padding-top: 10px;

    left: 87px;
    top: 1275px;
  }

  .modal__button--success {
    width: 464px;
  }

  .modal__header {
    width: 400px;
  }

  .modal__text {
    width: 400px;
  }

  .modal__button-wrapper {
    padding-top: 50px;
  }

  .modal__button-wrapper--desktop {
    padding-top: 48px;
    padding-bottom: 50px;

    background-color: $light-gray;
  }

  .modal__text--error {
    margin-bottom: 61px;
  }
}
