.page-footer {

  width: 320px;

  margin: 0 auto;

  background-color: $white;

  line-height: 18px;
}


@media (min-width: $tablet-width) {
  .page-footer {
    width: $tablet-width;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: $desktop-width;
    display: flex;
    justify-content: space-between;
  }
}
