.page-footer {
  background-color: $white;

  line-height: 18px;
}

.page-footer__wrapper {
  width: $mobile-width;

  margin: 0 auto;
}

.page-footer--none {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    width: $tablet-width;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer--none {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: $desktop-width;
    display: flex;
    justify-content: space-between;
  }

  .page-footer--none {
    display: block;
  }
}
