.page-header {
  color: $white;

  width: 100%;

  margin: 0 auto;

  background-color: $dark-blue;
}

.page-header__icon-toggle--close {
  display: none;
}

.page-header__icon-toggle--hide .page-header__icon-toggle--close {
  display: block;
}

.page-header__icon-toggle--close .page-header__icon-toggle--open {
  display: none;
}

.page-header__top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 290px;

  padding-top: 19px;
  padding-bottom: 20px;
  padding-left: 19px;
  padding-right: 11px;

  margin: 0 auto;
}

.page-header__toggle {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.page-header__top-wrapper {
  border-bottom: 1px solid $black;
}

.page-header__logo {
  fill: $white;
}

.page-header__logo {
  &:hover .page-header__logo-image {
    fill: $lipstick;
  }

  &:active .page-header__logo-image {
    fill: $white;
    opacity: 0.3;
  }
}

.page-header__toggle {
  fill: $white;
}

.page-header__toggle {
  &:hover .page-header__icon-toggle {
    fill: $lipstick;
  }

  &:active .page-header__icon-toggle {
    fill: $lipstick;
    opacity: 0.3;
  }
}


@media (min-width: 0) {
  .page-header__logo-image--tablet {
    display: none;
  }

  .page-header__logo-image--desktop {
    display: none;
  }
}

@media (min-width: $mobile-width) {
  .page-header__logo-image--tablet {
    display: none;
  }

  .page-header__logo-image--desktop {
    display: none;
  }
}

@media (min-width: 0) and (max-width: 659px) {
  .page-header--close {
    position: relative;
    margin-bottom: -69px;

    background-color: $white-30;

    z-index: 10;
  }

  .page-header--close .page-header__top-wrapper {
    border-color: transparent;
  }

  .page-header--close .page-header__nav {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header__top-menu {
    width: 630px;
    min-height: 60px;

    padding-bottom: 30px;
  }

  @media (min-width: $tablet-width) and (max-width: 959px) {
    .page-header--close {
      position: relative;
      margin-bottom: -109px;

      background-color: $white-30;

      z-index: 10;
    }

    .page-header--close .page-header__top-wrapper {
      border-color: transparent;
    }

    .page-header--close .page-header__nav {
      display: none;
    }
  }

  .page-header__logo-image--tablet {
    display: block;
  }

  .page-header__logo-image--mobile {
    display: none;
  }

  .page-header__logo-image--desktop {
    display: none;
  }

  .page-header__toggle {
    margin-top: 19px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    min-height: 109px;

    background-color: $white-30;
    position: relative;
    margin-bottom: -109px;
    z-index: 10;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;

    width: $desktop-width;

    margin: 0 auto;
  }

  .page-header__top-wrapper {
    border: none;
  }

  .page-header__top-menu {
    width: 150px;
    min-height: 60px;

    padding-left: 10px;
    padding-top: 17px;

    border: none;
  }

  .page-header__logo-image--tablet {
    display: none;
  }

  .page-header__logo-image--mobile {
    display: none;
  }

  .page-header__logo-image--desktop {
    display: block;
  }

  .page-header__toggle {
    display: none;
  }
}
