.page-representation {
  background-image: url(../img/iphone-hand-mobile@1x.png), url(../img/bg-back-mobile@1x.jpg);
  background-position: bottom left, center;
  background-repeat: no-repeat;

  width: 100%;
  min-height: 462px;

  margin: 0 auto;

  text-align: center;
}

.page-representation__header {
  width: 225px;

  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $white;
  font-family: "Open Sans";
  font-weight: 300;

  text-align: center;

  padding: 0;
  margin: 0 auto;
}

.page-representation--with-image {
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;


  min-height: 237px;
}

.page-representation__wrapper {
  width: $mobile-width;

  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-representation {
    background: none;

    width: 184px;
    min-height: 50px;
  }

  .page-representation__header {
    width: 348px;

    font-size: 50px;
    line-height: 50px;

    padding-top: 160px;
  }

  .page-representation--with-image {
    background-image: url(../img/bg-back-tablet@1x.jpg);
    background-position: center;

    width: 100%;
    min-height: 440px;
  }
}

@media (min-width: $desktop-width) {
  .page-representation__with-image {
    background-image: url(../img/bg-back-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-position: top;

    min-height: 394px;
  }

  .page-representation__header--long {
    width: 784px;

    font-size: 50px;
    line-height: 50px;

    padding-top: 160px;
  }

  .page-representation__header--short {
    width: 384px;
  }
}
