.page-representation {
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;

  min-height: 462px;
  width: 320px;
}

.page-representation__header {
  width: 225px;

  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $white;
  font-family: "Open Sans";
  font-weight: 300;

  text-align: center;

  padding: 0;
  margin: 0;
}
