.panorama__comment {
  width: $mobile-width;

  margin: 0 auto;
  background-color: $white;
}

.panorama__text-wrapper {
  width: 280px;

  margin: 0 auto;

  background-color: $light-gray;
}

@media (min-width: $tablet-width) {
  .panorama__comment {
    width: $tablet-width;

    margin: 0 auto;
    background-color: $white;
  }

  .panorama__text-wrapper {
    width: 620px;

    margin: 0 auto;

    background-color: $light-gray;
  }
}

@media (min-width: $desktop-width) {
  .panorama__comment {
    width: $desktop-width;
  }

  .panorama__text-wrapper {
    width: 920px;

    margin: 0 auto;
  }
}
