.rates {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 506px;
  background-color: $light-gray;
}

.rates__tablet-wrapper {
  width: $mobile-width;

  margin: auto;
  overflow: hidden;
}

.rates__table {
  transform: translateX(-539px);
}


@media (min-width: $tablet-width) {
  .rates__tablet-wrapper {
    width: $tablet-width;

    overflow: visible;
  }

  .rates__table {
    transform: none;
  }

  .rates__buttons-wrapper {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .rates__tablet-wrapper {
    width: $desktop-width;

    overflow: visible;
  }

  .rates__table {
    transform: none;
  }
}
