.rate-table {
  border-collapse: collapse;

  text-align: center;
}

.rate-table__cell {
  min-width: 276px;

  line-height: 30px;
  text-align: left;

  border-bottom: 2px solid $gray;
  border-left: 2px solid $gray;
  border-right: 2px solid $gray;

  background-color: $white;
}

.rate-table__cell-header {
  color: $white;

  background-color: $dark-blue;

  border-left: 2px solid $gray;
  border-right: 2px solid $gray;
}

.rate-table__text-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  padding: 0;
  margin: 0;
}


.rate-table__text-price {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;

  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .rate-table__cell {
    min-width: 152px;

    line-height: 30px;
    text-align: left;
  }

  .rate-table__text-header {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .rate-table__cell {
    min-width: 234px;

    line-height: 30px;
    text-align: left;
  }

  .rate-table__text-header {
    font-size: 16px;
  }
}