.rate-table {
  border-collapse: collapse;
  border-spacing: 0;

  text-align: center;
}

.rate-table__text {
  line-height: 30px;
}

.rate-table__cell {
  min-width: 272px;

  padding-top: 15px;
  padding-bottom: 16px;

  line-height: 30px;
  text-align: left;
  text-transform: uppercase;

  border-bottom: 2px solid $gray;
  border-left: 2px solid $gray;
  border-right: 2px solid $gray;
  border-radius: 4px;

  background-color: $white;
}

.rate-table__cell-wrapper {
  display: flex;
  justify-content: space-between;

  width: 237px;

  margin: 0 auto;
}

.rate-table__cell-header {
  color: $white;

  background-color: $dark-blue;

  border-left: 2px solid $gray;
  border-right: 2px solid $gray;
  border-radius: 4px;

  padding-top: 18px;
  padding-bottom: 22px;
}

.rate-table__text-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  padding: 0;
  margin: 0;
}


.rate-table__text-price {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;

  padding: 0;
  margin: 0;
}

.rate-table__icon--check {
  fill: $leafy-green;
  padding-top: 5px;
}

.rate-table__icon--cross {
  fill: $orange;
}

.rate-table__hit {
  position: relative;
}

.rate-table__hit::before {
  content: url(../img/bg-hit.svg);
  position: absolute;
  display: block;

  top: 0;
  left: -3px;
}

.rate-table__hit::after {
  position: absolute;
  content: "Хит";

  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  top: 17px;
  left: 8px;

  transform: rotate(-45deg);
}

@media (min-width: $tablet-width) {
  .rate-table {
    margin: 0 auto;
  }

  .rate-table__cell {
    min-width: 152px;

    font-size: 14px;
    line-height: 30px;
    text-align: left;
    text-transform: none;

    padding-top: 7px;
    padding-bottom: 10px;
  }

  .rate-table__cell-header {
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 8px;
  }

  .rate-table__cell-wrapper {
    justify-content: center;
    width: 152px;
  }

  .rate-table__text-header {
    font-size: 16px;
  }

  .rate-table__text-price {
    font-size: 18px;
  }

  .rate-table__text {
    display: none;
  }

  .rate-table__hit::before {
    top: -7px;
  }

  .rate-table__hit::after {
    top: 9px;
    left: 7px;
  }

  .rate-table__text-side {
    margin-left: 17px;
  }
}

@media (min-width: $desktop-width) {
  .rate-table__cell {
    min-width: 231px;

    line-height: 30px;
    text-align: left;

    padding-top: 14px;
    padding-bottom: 13px;
  }

  .rate-table__cell-header {
    padding-top: 17px;
    padding-bottom: 22px;
  }

  .rate-table__text-side {
    font-size: 18px;
    line-height: 30px;

    margin-left: 21px;
  }

  .rate-table__hit::before {
    top: 1px
  }

  .rate-table__hit::after {
    top: 16px;
    left: 11px;
  }

  .rate-table__text-header {
    font-size: 18px;
  }

  .rate-table__text-price {
    font-size: 24px;
  }
}
