@media (min-width: $mobile-width) {
  .research {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .research {
    display: block;
    background-color: $white;
    min-height: 390px;
  }

  .research__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    width: $tablet-width;
   
    margin: 0 auto;
    padding-top: 95px;
  }

  .research__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 296px;

    margin-right: 35px;
  }

  .research__header {
    width: 169px;

    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: $black;

    margin: 0;
  }

  .research__text {
    width: 297px;
    line-height: 24px;

    margin: 0;
    padding-top: 9px;
  }

  .research__link {
    color: $lipstick;
    border-bottom: 1px solid $lipstick;
  }
}

@media (min-width: $desktop-width) {
  .research {
    background-color: $light-gray;
    min-height: 442px;
  }

  .research__wrapper {
    width: $desktop-width;

    padding-top: 125px;

    align-items: center;
  }

  .research__text-wrapper {
    margin-right: 0;
    margin-left: 86px;
  }

  .research__header {
    font-weight: 700;
    line-height: 30px;
    width: 380px;
  }

  .research__text {
    width: 524px;

    font-size: 18px;
    line-height: 30px;

    padding-top: 28px;
  }
}
