@media (min-width: $mobile-width) {
  .research {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .research {
    position: relative;
    display: block;
    background-color: $white;
    min-height: 390px;
  }

  .research__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    width: $tablet-width;

    margin: 0 auto;
    padding-top: 95px;
  }

  .research__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 296px;

    margin-right: 35px;
  }

  .research__header {
    width: 169px;

    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: $black;

    margin: 0;
  }

  .research__text {
    width: 297px;
    line-height: 24px;

    margin: 0;
    padding-top: 10px;
  }

  .research__link {
    color: $lipstick;
    border-bottom: 1px solid $lipstick;
  }


  .research__wrapper::before {
    content: "";

    position: absolute;

    width: 238px;
    height: 276px;

    top: 59px;
    left: 21px;

    background-image: url(../img/icon-timer-small.svg);
  }

  .research__wrapper::after {
    content: "24";

    padding-top: 7px;

    font-size: 96px;
    font-weight: 700;
    text-align: center;
    line-height: 150px;
    color: $lipstick;

    position: absolute;

    top: 112px;
    left: 38px;

    width: 173px;
    height: 169px;

    border: 15px solid #d22856;
    border-radius: 50%;
  }
}

@media (max-width: $tablet-width) {
  .research__break--desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .research {
    background-color: $light-gray;
    min-height: 440px;
  }

  .research__wrapper {
    width: $desktop-width;

    padding-top: 122px;

    align-items: center;
  }

  .research__wrapper::before {
    width: 298px;
    height: 345px;

    top: 28px;
    left: 12px;
  }

  .research__wrapper::after {
    top: 98px;
    width: 217px;
    height: 211px;
    padding-top: 11px;
    font-size: 120px;
    line-height: 187px;
  }

  .research__text-wrapper {
    margin-right: 0;
    margin-left: 86px;

  }

  .research__header {
    font-weight: 700;
    line-height: 30px;
    width: 380px;
  }

  .research__text {
    width: 528px;

    font-size: 18px;
    line-height: 30px;

    padding-top: 26px;
  }

  .research__break--tablet {
    display: none;
  }
}
