.site-list {
  background-color: #283645;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.78;
}

.site-list__item {
  padding-top: 20px;
  padding-bottom: 19px;
  padding-left: 89px;
  padding-right: 88px;
}
