.site-list {
  display: flex;
  flex-direction: column;

  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 24px;
  text-align: center;

  list-style: none;

  padding: 0;
  margin: 0;
}

.site-list__item {
  padding-top: 20px;
  padding-bottom: 19px;
  padding-left: 89px;
  padding-right: 88px;

  border-bottom: 1px solid $black;
  border-top: 1px solid $black-15;

}

.site-list__link {
  color: inherit;

  &:hover {
    color: $lipstick;
  }

  &:active {
    color: $white;
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
 .site-list {
   display: flex;
   flex-direction: row;

   font-weight: 400;
   font-size: 18px;
   line-height: 18px;

   padding-top: 47px;
   padding-bottom: 44px;
 }

 .site-list__item {
   padding: 0;
   margin-right: 50px;
   border: none;
 }
}