.users-photos__list {
  list-style: none;

  width: $mobile-width;

  padding: 0;
  margin: 0 auto;
}

.users-photos__text {
  width: 254px;

  line-height: 30px;
  text-align: center;

  margin: 0 auto;
}

.users-photos__text-wrapper {
  width: 253px;

  padding-top: 42px;
  padding-bottom: 43px;
  padding-left: 32px;
  padding-right: 35px;
  margin: 0 auto;
}

.users-photos__item {
  width: 280px;

  margin: 0 auto;
}

.users-photos__item {
  padding-top: 21px;
}

.users-photos__image--tablet {
  display: none;
}

.users-photos__image--desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .users-photos__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 620px;
  }

  .users-photos__item:nth-child(1),
  .users-photos__item:nth-child(2) {
    padding-top: 0;
  }

  .users-photos__item {
    width: 300px;

    margin: 0;
    padding-top: 20px;
  }

  .users-photos__text {
    width: 453px;

    margin-left: 71px;

    font-size: 18px;
  }

  .users-photos__text-wrapper {
    width: $tablet-width;

    padding-top: 65px;
    padding-bottom: 68px;
  }

  .users-photos__image--mobile {
    display: none;
  }

  .users-photos__image--tablet {
    display: block;
  }

  .users-photos__image--desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .users-photos__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 940px;
  }

  .users-photos__item {
    padding-top: 53px;
  }

  .users-photos__text {
    margin-left: 222px;
  }

  .users-photos__text-wrapper {
    width: $desktop-width;

    padding-top: 59px;
  }

  .users-photos__item:nth-child(3) {
    padding-top: 0;
  }

  .users-photos__image--mobile {
    display: none;
  }

  .users-photos__image--tablet {
    display: none;
  }

  .users-photos__image--desktop {
    display: block;
  }
}
